/* stylelint-disable no-descending-specificity */
@use "../../../../styles/global" as g;
@use "../../../../styles/mixins" as *;

.acct-card-header {
  padding-left: 32px;
  position: relative;
  .closed {
    color: var(--gray-60) !important;
  }
  &.merged {
    align-items: center;
    display: flex;
    gap: 8px;
    padding-left: 0;
    address {
      flex: 1 1 fit-content;
      margin-left: 0;
    }
    .clamp {
      width: 100%;
    }
    .icon-container {
      border-radius: 50%;
      flex: 0 0 32px;
      height: 32px;
      position: relative;
      width: 32px;
    }
    .title {
      flex: 1 1 fit-content;
    }
  }
  .clamp {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 98%;
  }
  .separator {
    align-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 0 8px;
    vertical-align: middle;
    width: 4px;
  }
  .acctNumber {
    display: inline;
    &::before {
      content: "#";
    }
  }
  address {
    margin-left: -30px;
    @include do-this-above(lg) {
      margin-left: 0;
    }
  }
  @include do-this-above(lg) {
    padding-left: g.$space-9;
  }
}

.icon-container {
  border-radius: 4px;
  height: 24px;
  left: 0;
  position: absolute;
  width: 24px;
  svg {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  &.electric {
    background-color: var(--teal-10);
    svg {
      path {
        fill: var(--teal-70);
      }
      height: 16px;
      width: 8px;
    }
  }
  &.gas {
    background-color: var(--purple-10);
    svg {
      path {
        fill: var(--purple-90);
      }
      height: 16px;
      width: 12px;
    }
  }
  &.unknown,
  &.merged {
    background-color: var(--gray-10);
    svg {
      path:last-of-type {
        fill: var(--gray-70);
      }
      height: 17px;
      width: 17px;
    }
  }
  &.warning {
    background-color: var(--orange-10);
    svg {
      height: 17px;
      width: 17px;
      path {
        fill: var(--orange-70);
      }
      @include do-this-above(lg) {
        height: 21px;
        width: 21px;
      }
    }
  }
  &.danger {
    background-color: var(--red-00);
    svg {
      height: 17px;
      width: 17px;
      path {
        fill: var(--red-80);
      }
      @include do-this-above(lg) {
        height: 21px;
        width: 21px;
      }
    }
  }
  &.closed {
    background-color: var(--gray-00);
    border: 1px dashed var(--gray-40);
    svg {
      path {
        fill: var(--gray-40);
      }
    }
  }
  @include do-this-above(lg) {
    border-radius: 50%;
    height: 32px;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
  }
}
