/* stylelint-disable scss/at-extend-no-missing-placeholder */
@use "../../styles/typography";
@use "../../styles/global" as g;

.tag {
  @extend %font-size-0-reg;
  border-radius: g.$border-radius;
  margin: 0;
  min-height: 28px;
  padding: g.$space-2 g.$space-3;

  &.default-icon {
    > div {
      block-size: 14px;
      inline-size: 12px;
      svg {
        color: var(--green-70);
        height: 100%;
        width: 100%;
      }
    }
    &.theme-important {
      svg {
        color: var(--red-50);
      }
    }
  }

  &.render-icon {
    > div {
      block-size: 16px;
      inline-size: 16px;
      /* stylelint-disable-next-line no-descending-specificity */
      svg {
        color: var(--gray-80);
        height: 100%;
        width: 100%;
      }
    }
    &.theme-important {
      svg {
        color: var(--white);
      }
    }
  }

  &.theme-default {
    background-color: var(--gray-10);
    &:hover {
      background-color: var(--gray-10);
      cursor: default;
    }
  }
  &.theme-important {
    background-color: var(--gray-60);
    color: var(--white);
    &:hover {
      background-color: var(--gray-60);
      cursor: default;
    }
  }
  &.theme-green {
    background-color: var(--green-10);
    &:hover {
      background-color: var(--green-10);
      cursor: default;
    }
  }
  &.theme-pink {
    background-color: var(--pink-10);
    &:hover {
      background-color: var(--pink-10);
      cursor: default;
    }
  }
  &.theme-purple {
    background-color: var(--purple-10);
    &:hover {
      background-color: var(--purple-10);
      cursor: default;
    }
  }
}
