.cds--btn-set {
  flex-wrap: wrap;
  gap: 12px;
  &.left {
    justify-content: flex-start;
  }
  &.center {
    justify-content: center;
  }
  &.right {
    justify-content: flex-end;
  }
  .cds--btn {
    inline-size: auto;
    text-align: center;
  }
  &.fixed-size {
    .cds--btn {
      inline-size: 100%;
    }
  }
}
