////////////////////
// Buttons
///////////////////
///
.cds--btn {
  border-radius: 8px;
  color: var(--black);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.16px;

  svg {
    height: 24px;
    margin-left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
  }

  &.cds--btn--primary {
    background-color: var(--blue-50);
    border-bottom: 2px solid var(--blue-60);

    &:hover {
      background-color: var(--blue-60);
      border-bottom: 2px solid var(--blue-80);
    }
    &:active {
      background-color: var(--blue-70);
      border-bottom: 2px solid var(--blue-90);
      color: var(--white);
    }
    &:focus {
      background-color: var(--blue-50);
      border: 2px solid var(--white);
      box-shadow:
        0px 0px 1px 0px rgba(0, 36, 64, 0.31),
        0px 0px 6px 3px rgba(0, 109, 179, 0.2);
      outline: 2px solid var(--blue-60);
    }

    &:disabled {
      background-color: var(--gray-20);
      border: none;
      color: var(--gray-30);
    }
  }
  &.cds--btn--secondary {
    background-color: var(--blue-60);
    border-bottom: 2px solid var(--blue-80);

    &:hover {
      background-color: var(--blue-70);
      border-bottom: 2px solid var(--blue-90);
    }
    &:active {
      background-color: var(--blue-80);
      border-bottom: 2px solid var(--blue-100);
      color: var(--white);
    }
    &:focus {
      background-color: var(--blue-60);
      border: 2px solid var(--white);
      box-shadow:
        0px 0px 1px 0px rgba(0, 36, 64, 0.31),
        0px 0px 6px 3px rgba(0, 109, 179, 0.2);
      outline: 2px solid var(--blue-60);
    }
    &:disabled {
      background-color: var(--gray-20);
      border: none;
      color: var(--gray-30);
    }
  }
  &.cds--btn--tertiary {
    background-color: transparent;
    border: 1px solid var(--blue-50);
    color: var(--blue-70);
    &:hover {
      background-color: var(--blue-00);
    }
    &:active {
      background-color: var(--blue-10);
      border: 1px solid var(--blue-50);
    }
    &:focus {
      background-color: var(--white);
      border: 1px solid var(--white);
      box-shadow:
        0px 0px 1px 0px rgba(0, 36, 64, 0.31),
        0px 0px 6px 3px rgba(0, 109, 179, 0.2);
      outline: 2px solid var(--blue-60);
    }
    &:disabled {
      background-color: var(--white);
      border: 1px solid var(--gray-30);
      color: var(--gray-20);
    }
  }
  &.cds--btn--ghost {
    color: var(--blue-70);
    &:hover {
      background-color: var(--gray-10);
    }
    &:active {
      background-color: var(--gray-20);
    }
    &:focus {
      background-color: var(--white);
      border: 1px solid var(--white);
      box-shadow:
        0px 0px 1px 0px rgba(0, 36, 64, 0.31),
        0px 0px 6px 3px rgba(0, 109, 179, 0.2);
      outline: 2px solid var(--blue-60);
    }
    &:disabled {
      color: var(--gray-20);
    }
  }

  &.es--btn--ghost--subtle {
    color: var(--gray-60);
    &:hover {
      background-color: var(--gray-10);
      color: var(--gray-70);
    }
    &:active {
      background-color: var(--gray-20);
      color: var(--gray-80);
    }
    &:focus {
      background-color: var(--white);
      border: 1px solid var(--white);
      box-shadow:
        0px 0px 1px 0px rgba(0, 36, 64, 0.31),
        0px 0px 6px 3px rgba(0, 109, 179, 0.2);
      color: var(--gray-70);
      outline: 2px solid var(--blue-60);
    }
    &:disabled {
      color: var(--gray-20);
    }
  }

  &.cds--btn--danger--primary {
    background-color: var(--red-60);
    border-bottom: 2px solid var(--red-80);
    color: var(--white);

    &:hover {
      background-color: var(--red-70);
      border-bottom: 2px solid var(--red-90);
    }

    &:active {
      background-color: var(--red-80);
      border-bottom: 2px solid var(--red-100);
    }

    &:focus {
      background-color: var(--red-60);
      border: 2px solid var(--white);
      box-shadow:
        0px 0px 1px 0px rgba(0, 36, 64, 0.31),
        0px 0px 6px 3px rgba(0, 109, 179, 0.2);
      outline: 2px solid var(--blue-60);
    }

    &:disabled {
      background-color: var(--gray-20);
      border: none;
      color: var(--gray-30);
    }
  }
  &.cds--btn--danger--tertiary {
    background-color: transparent;
    border: 1px solid var(--red-70);
    color: var(--red-70);
    &:hover {
      background-color: var(--red-00);
    }
    &:active {
      background-color: var(--red-10);
      border: 1px solid var(--red-80);
    }
    &:focus {
      background-color: var(--white);
      border: 1px solid var(--white);
      box-shadow:
        0px 0px 1px 0px rgba(0, 36, 64, 0.31),
        0px 0px 6px 3px rgba(0, 109, 179, 0.2);
      outline: 2px solid var(--blue-60);
    }
    &:disabled {
      background-color: var(--white);
      border: 1px solid var(--gray-30);
      color: var(--gray-20);
    }
  }
  &.cds--btn--danger--ghost {
    color: var(--red-70);
    &:hover {
      background-color: var(--red-00);
    }
    &:active {
      background-color: var(--red-10);
      color: var(--red-80);
    }
    &:focus {
      background-color: var(--white);
      border: 1px solid var(--white);
      box-shadow:
        0px 0px 1px 0px rgba(0, 36, 64, 0.31),
        0px 0px 6px 3px rgba(0, 109, 179, 0.2);
      outline: 2px solid var(--blue-60);
    }
    &:disabled {
      color: var(--gray-20);
    }
  }
}

/*
.cds--btn {
    -webkit-user-select: none;
    align-items: center;
    appearance: button;
    border-radius: 8px;
    border: 0;
    cursor: pointer;
    display: flex;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 700;
    justify-content: center;
    letter-spacing: 0.16px;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 12px 16px;
    touch-action: manipulation;
    transition: background 70ms cubic-bezier(0, 0, 0.38, 0.9) 0s, box-shadow 70ms cubic-bezier(0, 0, 0.38, 0.9) 0s, border-color 70ms cubic-bezier(0, 0, 0.38, 0.9) 0s, outline 70ms cubic-bezier(0, 0, 0.38, 0.9) 0s;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
  
    @include md {
      width: auto;
    } 
  
    &:disabled {
      cursor: not-allowed;
      background-color: default;
      color: default;
    }
  }
  
  .cds--btn--md {
    padding: 8px 16px;
    font-size: 16px;
  }
  
  .cds--btn--sm {
    padding: 4px 12px;
    font-size: 14px;
  }
  
  .cds--btn--primary {
    background-color: #109DE7;
    box-shadow: 0px -2px 0px 0px #0E75C4 inset;
    color: #ffffff;
  
    &:hover {
      background-color: #128DDD;
    }
  
    &:active {
      background-color: #1063A2;
    }
  
    &:focus {
      outline: 2px #fff solid;
      outline-offset: -4px;
    }
  
    &:disabled {
      background-color: #E6EBEF;
      color: #CED8DF;
      box-shadow: 0px -2px 0px 0px #DBDEE0 inset;
    }
  }
  
  .cds--btn--secondary {
    background-color: #1063A2;
    box-shadow: 0px -2px 0px 0px #144870 inset;
    color: #ffffff;
  
    &:hover {
      background-color: #144870;
    }
  
    &:active {
      background-color: #144870;
    }
  
    &:focus {
      outline: 2px #fff solid;
      outline-offset: -4px;
    }
  
    &:disabled {
      background-color: #E6EBEF;
      // box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      color: #CED8DF;
      box-shadow: none;
    }
  }
  
  .cds--btn--tertiary {
    background-color: #ffffff;
    outline: 2px solid #128DDD;
    color: #0E75C4;
  
    &:hover {
      background-color: #128DDD;
      color: #ffffff;
    }
  
    &:active {
      background-color: #1063A2;
      color: #ffffff;
    }
  
    &:focus {
      background-color: #0E75C4;
      color: #ffffff;
      outline: 2px #fff solid;
      outline-offset: -4px;
    }
  
    &:disabled {
      background-color: #ffffff;
      outline: 1px solid #CED8DF;
      color: #E6EBEF;
    }
  }
  
  .cds--btn--ghost {
    background-color: #ffffff;
    color: #0E75C4;
  
    &:hover {
      background-color: #E6EBEF;
      color: #0E75C4;
    }
  
    &:active {
      background-color: #CED8DF;
      color: #0E75C4;
    }
  
  
    &:focus {
      outline: 2px #128DDD solid;
      outline-offset: -4px;
    }
  
    &:disabled {
      color: #E6EBEF;
    }
  }
  
  .cds--btn--danger {
    background-color: #C1381B;
    box-shadow: 0px -2px 0px 0px #962C15 inset;
    color: #ffffff;
  
    &:hover {
      background-color: #962C15;
      box-shadow: 0px -2px 0px 0px #6B1F0F inset;
    }
  
    &:active {
      background-color: #6B1F0F;
    }
  
    &:focus {
      outline: 2px #ffffff solid;
      outline-offset: -4px;
    }
  
    &:disabled {
      background-color: #E6EBEF;
      // box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.25) inset;
      box-shadow: none;
      color: #CED8DF;
    }
  }
  
  .cds--btn--danger-tertiary {
    background-color: #ffffff;
    outline: 2px solid #C1381B;
    color: #C1381B;
  
    &:hover {
      background-color: #962C15;
      color: #ffffff;
      box-shadow: 0px -2px 0px 0px #6B1F0F inset;
      outline: none;
    }
  
    &:active {
      background-color: #6B1F0F;
      color: #ffffff;
    }
  
    &:focus {
      background-color: #C1381B;
      color: #ffffff;
      outline: 2px #ffffff solid;
      outline-offset: -4px;
    }
  
    &:disabled {
      background-color: #E6EBEF;
      box-shadow: none;
      color: #CED8DF;
      outline: none;
    }
  }
  
  .cds--btn--danger-ghost {
    background-color: #ffffff;
    // color: $red-60;
  
    &:hover {
     // background-color: $red-70;
      color: #ffffff;
    }
  
    &:active {
     // background-color: $red-80;
      color: #ffffff;
    }
  
  
    &:focus {
      background-color: #C1381B;
      box-shadow: 0px -2px 0px 0px #962C15 inset;
      color: #ffffff;
      outline: 2px #ffffff solid;
      outline-offset: -4px;
    }
  
    &:disabled {
      color: #E6EBEF;
    }
  }
  
  .cds--btn--path {
    display: block; // centers text in btn
    background-color: #E7F3F3;
    border: 1px solid #B9DDDC;
    padding: 12px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.16px;
    color: #445968;
    min-width: 117px;
  
    &:hover {
        cursor: pointer;
    }
  }
  
  [iconposition="after"] {
    flex-direction: row;
  
    .cds--btn__icon {
      width: 24px;
      height: 24px;
      margin-left: 16px;
    }
  }
  
  [iconposition="before"] {
    flex-direction: row-reverse;
  
    .cds--btn__icon {
      width: 24px;
      height: 24px;
      margin-left: 0;
      margin-right: 16px;
    }
  }

  */
