// @use '../../../styles/colors.scss' as *;
@use "../../styles/global" as g;
@use "../../styles/typography" as t;
@use "sass:map";

.ev-text {
  display: inherit;
}
.inline {
  display: inline;
}
.block {
  display: block;
}
/*
  a {
    color: $link;
    text-decoration: underline;
    &:hover {
      color: $hover;
    }
    &:focus {
      background-color: $link-focus-bkgd;
      color: $link;
    }
    &:visited {
      color: $visited;
    }
  }
  */

// Generate Margin Styles
@for $i from 0 through 13 {
  .mb-#{$i} {
    margin-bottom: map.get(g.$spacing, "space-#{$i}");
  }
  .mt-#{$i} {
    margin-top: map.get(g.$spacing, "space-#{$i}");
  }
}

// Generate typography classes
.size-00 {
  @extend %font-size-00-reg;
}

@for $i from 0 through 11 {
  .font-size-#{$i}-reg {
    @extend %font-size-#{$i}-reg;
  }
}

.error {
  color: var(--red-60);
}
/*
  .title {
    color: $title;
  }
  .paragraph {
    color: $paragraph;
  }
  .disabled {
    color: $disabled;
  }

  .success {
    color: $success;
  }
  .warning {
    color: $warning;
  }
  .primary {
    color: $primary;
  }
  .secondary {
    color: $secondary;
  }
*/
