// @use '../../../styles/colors.scss' as *;
@use "../../styles/global.scss" as g;

.root {
  .inline {
    display: inline;
  }
  .block {
    display: block;
  }
  /*
  a {
    color: $link;
    text-decoration: underline;
    &:hover {
      color: $hover;
    }
    &:focus {
      background-color: $link-focus-bkgd;
      color: $link;
    }
    &:visited {
      color: $visited;
    }
  }
  */
  .mb-0 {
    margin-bottom: 0;
  }
  .mb-1 {
    margin-bottom: g.$space-1;
  }
  .mb-2 {
    margin-bottom: g.$space-3;
  }
  .mb-3 {
    margin-bottom: g.$space-5;
  }
  .mb-4 {
    margin-bottom: g.$space-6;
  }
  .mb-5 {
    margin-bottom: g.$space-5;
  }
  .mt-0 {
    margin-top: 0;
  }
  .mt-1 {
    margin-top: g.$space-1;
  }
  .mt-2 {
    margin-top: g.$space-3;
  }
  .mt-3 {
    margin-top: g.$space-5;
  }
  .mt-4 {
    margin-top: g.$space-6;
  }
  .mt-5 {
    margin-top: g.$space-5;
  }
  .error {
    color: var(--red-60);
  }
  /*
  .title {
    color: $title;
  }
  .paragraph {
    color: $paragraph;
  }
  .disabled {
    color: $disabled;
  }

  .success {
    color: $success;
  }
  .warning {
    color: $warning;
  }
  .primary {
    color: $primary;
  }
  .secondary {
    color: $secondary;
  }
*/
}
