@use "../../../styles/typography" as t;
@use "../../../styles/mixins" as *;
@use "../../../styles/global" as g;

.account-info-card {
  border: 1px solid var(--gray-10);
  border-radius: g.$border-radius-large;
  box-shadow:
    0px 0px 1px 0px #006db340,
    0px 1px 2px 0px #006db333;
  max-width: 477px;
  width: 100%;

  .intro {
    padding: g.$space-5;
  }

  h4 {
    @extend %font-size-2-semi;
    line-height: 22px;
    margin-bottom: g.$space-5;
  }

  details {
    background-color: var(--gray-00);
    &[open] {
      padding: 0 g.$space-5 g.$space-4 g.$space-5;
      summary::before {
        content: attr(data-open);
      }
    }
    &[open] summary::after {
      content: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 0.912476L0.5 5.91248L1.675 7.08748L5.5 3.27081L9.325 7.08748L10.5 5.91248L5.5 0.912476Z' fill='%231AB0FF'/%3E%3C/svg%3E");
      display: inline-block;
      margin-left: g.$space-4;
      transform-origin: center;
      transition: all 0.2s ease-in-out;
    }
    &:not([open]) summary::before {
      content: attr(data-close);
    }
    &:not([open]) summary::after {
      content: url("data:image/svg+xml,%3Csvg width='11' height='8' viewBox='0 0 11 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 0.912476L0.5 5.91248L1.675 7.08748L5.5 3.27081L9.325 7.08748L10.5 5.91248L5.5 0.912476Z' fill='%231AB0FF'/%3E%3C/svg%3E");
      display: inline-block;
      margin-left: g.$space-4;
      rotate: 180deg;
      transform-origin: center;
      transition: all 0.2s ease-in-out;
    }
    summary {
      @extend %font-size-0-bold;
      background-color: var(--gray-00);
      border-bottom-left-radius: g.$border-radius-large;
      border-bottom-right-radius: g.$border-radius-large;
      color: var(--blue-70);
      cursor: pointer;
      height: 36px;
      line-height: 18px;
      list-style: none;
      padding: 8px 0;
      text-align: center;
      vertical-align: middle;
    }
    article {
      background-color: var(--white);
      border-radius: g.$border-radius-large;
      margin-bottom: g.$space-3;
      padding: g.$space-5;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  dl {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: g.$space-5;
    dt {
      @extend %font-size-1-semi;
      color: var(--gray-70);
      flex: 50% 0 0;
      line-height: 18px;
      padding-bottom: g.$space-4;
      &:last-of-type {
        padding-bottom: 0;
      }
    }
    dd {
      @extend %font-size-1-reg;
      color: var(--gray-60);
      flex: 50% 0 0;
      line-height: 18px;
      padding-bottom: g.$space-4;
      text-align: right;
      &:last-of-type {
        padding-bottom: 0;
      }
    }
  }

  .cta {
    @extend %font-size-1-semi;
    color: var(--blue-70);
    line-height: 18px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .actions {
    display: flex;
    gap: 8px;
    justify-content: center;
    li {
      flex: 1;
      .cta-active {
        min-height: 38px;
        width: 100%;
      }
      .cta-inactive {
        max-width: none;
        button {
          @extend %font-size-0-semi;
          line-height: 14px;
          max-width: none;
          min-height: 36px;
          padding: 8px;
          width: 100%;
          /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
          :global(.cds--tag__custom-icon) {
            height: 16px;
            width: 16px;
          }
        }
      }
    }
  }

  .programs {
    column-gap: g.$space-3;
    display: flex;
    flex-wrap: wrap;
    dl {
      flex: 100% 0 0;
    }
  }

  /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
  .tooltip :global(.cds--tag):hover {
    background-color: var(--purple-20);
  }

  &.electric {
    h4 {
      color: var(--teal-80);
    }
  }
  &.gas {
    h4 {
      color: var(--purple-90);
    }
  }

  &.unknown {
    h4 {
      color: var(--teal-80);
    }
  }

  @media screen and (min-width: 672px) {
    //width: 664px;
  }
}
