@use "../../styles/mixins" as *;
@use "../../styles/typography" as t;
@use "../../styles/global" as g;

// Override modal default scroll behaviour
body.cds--body--with-modal-open {
  //overflow: visible;
}

.cds--modal {
  &.loading {
    user-select: none;
    .loading-container {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 3;
    }
    .cds--modal-container-body {
      &::before {
        background-color: var(--white);
        border-radius: g.$border-radius-large;
        content: "";
        height: calc(100% - g.$space-6);
        left: 12px;
        opacity: 0.8;
        pointer-events: none;
        position: absolute;
        top: 12px;
        width: calc(100% - g.$space-6);
        z-index: 2;
      }
    }
  }
}

.c-wizard {
  background-color: rgba(33, 56, 72, 0.8);
  overflow-y: scroll;
  position: fixed;
  .cds--modal-container {
    background: linear-gradient(90deg, #2d657d 0%, #368b70 100%);
    background: rgb(45, 101, 125);
    block-size: auto;
    border-radius: g.$border-radius-large;
    box-shadow: 0px 2px 40px rgba(0, 0, 0, 0.35);
    height: auto;
    inline-size: 93%;
    max-block-size: none;
    max-inline-size: 742px;
    padding: g.$space-4;
    position: absolute;
    top: 64px;

    @include do-this-above(md) {
      inline-size: 88%;
      top: 190px;
    }

    @include do-this-above(lg) {
      inline-size: 60%;
      top: 190px;
    }
  }
  .cds--modal-header,
  .cds--modal-content {
    background-color: var(--white);
    margin: 0;
  }

  .cds--modal-header {
    border-top-left-radius: g.$border-radius-large;
    border-top-right-radius: g.$border-radius-large;
    box-shadow: 0px 2px 2px rgba(33, 56, 72, 0.1);
    padding: 40px 32px 24px;
    position: relative;
    z-index: 1; // allows box shadow to show

    @include do-this-above(md) {
      padding: 24px 32px;
    }
  }

  .cds--modal-content {
    background-color: var(--white);
    border-bottom-left-radius: g.$border-radius-large;
    border-bottom-right-radius: g.$border-radius-large;
    overflow: visible;
    padding: 32px 16px 40px;

    @include do-this-above(md) {
      padding: 32px 32px 40px 32px;
    }
  }

  .cds--modal-close {
    background-color: transparent;
    border: 2px solid transparent;
    color: var(--gray-100);
    cursor: pointer;
    height: 32px;
    overflow: hidden;
    padding: g.$space-4;
    position: absolute;
    right: 0px;
    top: 0px;
    transform: scale(1.25);
    transition: background-color 110ms cubic-bezier(0.2, 0, 0.38, 0.9);
    width: 48px;
    z-index: 2;
    @include do-this-above(md) {
      right: 10px;
      top: 6px;
      transform: scale(1.6);
    }
  }

  .c-wizard__description {
    color: #213848;
    margin-bottom: 24px;
  }
}

.c-wizard__header__heading {
  @extend %font-size-5-bold;
  color: var(--blue-80);
  text-align: center;
}

.c-wizard--success {
  .cds--modal-container {
    background: linear-gradient(90deg, #007749 0%, #5ca88b 100%);
  }

  .c-wizard__slot {
    background-color: var(--bright-green-00);
    p {
      @extend %font-size-2-reg;
    }
  }

  .c-wizard__header__heading {
    color: var(--bright-green-70);
  }

  .c-wizard__description {
    margin-bottom: g.$space-3;
  }

  h4 {
    color: var(--gray-80);
  }

  .cds--modal-header {
    @include do-this-above(md) {
      background-image: url("bg_checkmark.svg");
      background-position: bottom left;
      background-repeat: no-repeat;
    }
  }

  .c-wizard__success-slot-btm {
    background-color: var(--gray-10);
    border-bottom-left-radius: g.$border-radius;
    border-bottom-right-radius: g.$border-radius;
    color: var(--gray-100);
    display: block;
    margin-bottom: -40px;
    margin-left: -16px;
    margin-right: -16px;
    padding: 32px 16px 40px;
    position: relative;

    @include do-this-above(md) {
      margin-left: -32px;
      margin-right: -32px;
      padding: 40px 32px;
    }
  }
}

.c-wizard--error {
  .c-wizard__header__heading {
    color: var(--gray-80);
  }
  .c-wizard__description {
    background-color: var(--gray-00);
    border-radius: g.$border-radius;
    color: var(--gray-70);
    font-size: 16px;
    padding: g.$space-5;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .cds--modal-container {
    background: linear-gradient(90deg, #8a3b2a 0%, #1a0f0d 100%);
  }
}

.c-wizard--highlight {
  .cds--modal-container {
    background: linear-gradient(180deg, #1984dd 0%, #298e76 100%);
  }
}

// Generic slot component
.c-wizard__slot {
  background-color: var(--gray-00);
  border-radius: g.$border-radius;
  color: var(--gray-100);
  margin-bottom: 24px;
  padding: 24px 16px;
  position: relative;

  @include do-this-above(md) {
    padding: 32px 24px;
  }

  p {
    font-size: 18px;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.c-wizard--success .c-wizard__slot--2,
.c-wizard--error .c-wizard__slot--2,
.c-wizard--highlight .c-wizard__slot--2 {
  display: none;
}

.c-wizard__btn-group {
  .cds--btn-set {
    align-items: center;
    gap: g.$space-4;
    justify-content: center;
  }
}

.c-wizard__btn-group--right {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: g.$space-4;
  justify-content: flex-end;

  // margin-bottom: 40px;

  @include do-this-above(md) {
    flex-direction: row;
  }
}

.c-wizard--success .c-wizard__btn-group--right {
  margin-bottom: 40px;
}

.c-wizard__highlight-badge {
  display: none;
}

.c-wizard--highlight .c-wizard__highlight-badge {
  background-color: #bde4f8;
  border-radius: 10px;
  display: inline-block;
  left: 50%;
  padding: 4px 6px 4px 6px;
  position: absolute;
  top: -11%;
  transform: translateX(-50%);

  @include do-this-above(md) {
    // top: -12%;
  }

  p {
    color: #213848;
    font-size: 10px;
    font-weight: 600;
  }
}

.c-wizard--highlight .c-wizard__slot {
  border: 1px solid #b9dddc;
}

.hide-close-button {
  display: none;
}
