@use "sass:map";

$border-radius: 8px;
$border-radius-large: 12px;
$spacer: 1rem;

$base-font-size: 16px;

html {
  font-size: $base-font-size;
}

/* prettier-ignore */
$spacing: (
  space-1: $spacer * 0.25, //4px
  space-2: $spacer * 0.5, //8px
  space-3: $spacer,       //16px
  space-4: $spacer * 1.5, //24px
  space-5: $spacer * 3,   //48px
);

$space-1: $spacer * 0.25; //4px
$space-2: $spacer * 0.5; //8px
$space-3: $spacer; //16px
$space-4: $spacer * 1.5; //24px
$space-5: $spacer * 3; //48px

/* stylelint-disable */

:export {
  @each $key, $value in $spacing {
    #{unquote($key)}: $value;
  }
}
/* stylelint-enable */
