@use "../../../styles/typography" as t;
@use "../../../styles/mixins" as *;
@use "../../../styles/global" as g;
@use "sass:map";

$min-height: 83px;
$min-height-compact: 40px;

.root {
  background-color: var(--white);
  border: 1px solid var(--gray-20);
  border-radius: g.$border-radius-large;
  box-shadow: 0px 6px 8px 0px rgba(233, 246, 252, 0.7);
  min-height: $min-height;
  .content-container {
    display: flex;
    gap: 50px;
    padding: 24px 24px 16px 24px;
    header {
      align-self: center;
      border: 1px solid red;
      flex: 1 290px;
      padding-left: g.$space-9;
      position: relative;
    }
    .actions {
      align-self: center;
      border: 1px solid red;
      flex: 1 260px;
      li {
        display: inline-block;
        &:first-child {
          margin-right: g.$space-5;
        }
      }
    }
    .payment-area {
      align-self: center;
      border: 1px solid red;
      display: flex;
      flex: 1 329px;
      justify-content: flex-end;
    }
    .link {
      @extend %font-size-0-semi;
      align-self: center;
      border: 1px solid red;
      color: var(--blue-70);
      display: flex;
      flex: 1 92px;
      justify-content: flex-end;
      text-decoration: none;
      white-space: nowrap;
      &:hover {
        text-decoration: underline;
      }

      /* stylelint-disable-next-line selector-pseudo-class-no-unknown */
      :global .cds--link__icon {
        align-self: auto;
        display: flex;
        margin-inline-start: 5px;
      }
    }
  }

  .pipe {
    color: var(--gray-40);
  }
  .alert {
    border: 0;
    border-radius: 0 0 g.$border-radius-large g.$border-radius-large;
    max-inline-size: 100%;
    svg {
      display: none;
    }
  }
  .payment-area {
    .total-due {
      background-color: var(--gray-00);
      border-radius: g.$border-radius-small;
      display: inline-block;
      margin-right: g.$space-5;
      padding: 4px 8px;
      vertical-align: middle;
      strong {
        color: var(--gray-70);
        margin-right: g.$space-4;
      }
    }
    .button-container {
      display: inline-block;
      vertical-align: middle;
    }
  }

  .icon-container {
    border: 1px solid var(--white);
    border-radius: 100%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
    height: 32px;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    svg {
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
    }
    &.electric {
      background-color: var(--blue-00);
      svg {
        path {
          fill: var(--blue-70);
        }
        height: 16px;
        width: 8px;
      }
    }
    &.gas {
      background-color: var(--purple-00);
      svg {
        path {
          fill: var(--purple-80);
        }
        height: 16px;
        width: 12px;
      }
    }
  }
}
