/* stylelint-disable scss/at-extend-no-missing-placeholder */
@use "../../styles/typography";
@use "../../styles/global" as g;

$placeholder-color: var(--gray-60);
$field-label-color: var(--gray-80);
$field-text-color: var(--gray-70);

.cds--form-item.cds--text-input-wrapper {
  .cds--text-input__field-outer-wrapper {
    .cds--text-input {
      @extend %font-size-1-reg;

      background-color: var(--white);
      border: 1px solid var(--gray-40);
      border-radius: g.$border-radius;
      box-shadow: inset 2px 7px 0px -3px var(--gray-10);
      color: $field-text-color;
      padding-bottom: 2px;
      position: relative;

      &::placeholder {
        @extend %font-size-1-reg;

        color: $placeholder-color;
      }
    }
    .cds--form__helper-text {
      @extend %font-size-0-reg;

      color: var(--gray-60);
      padding-left: 4px;
    }
  }
  .cds--text-input__label-wrapper {
    .cds--label {
      @extend %font-size-1-reg;

      color: $field-label-color;
      padding-left: 4px;
    }
  }
}
