@use "../../../../styles/typography" as t;
@use "../../../../styles/global" as g;
@use "../../../../styles/mixins" as *;

.payment-area {
  display: flex;
  justify-content: flex-end;
  text-align: right;
  .total-due {
    background-color: var(--gray-00);
    border: 1px solid transparent;
    border-radius: g.$border-radius;
    display: inline-block;
    margin-right: 0;
    padding: g.$space-3 g.$space-4;
    pointer-events: none;
    vertical-align: middle;

    p {
      @include do-this-above(md) {
        line-height: 14px;
      }
    }

    strong {
      @extend %font-size-2-semi;
      color: var(--gray-60);
      display: block;
      line-height: 20px;
      margin-right: 0;
      white-space: nowrap;
      @include do-this-above(md) {
        display: inline;
        line-height: 14px;
        margin-right: g.$space-4;
      }
      @include do-this-above(xl) {
        color: var(--gray-70);
        font: 700 16px/20px t.$primary-font-stack;
      }
    }

    .due-date {
      @extend %font-size-1-reg;
      color: var(--gray-60);
      line-height: 17px;
      white-space: nowrap;
      @include do-this-above(md) {
        line-height: 14px;
      }
      @include do-this-above(xl) {
        color: var(--gray-60);
        font: 600 16px/20px t.$primary-font-stack;
      }
    }
    &.danger {
      border: 1px solid var(--red-40);
      strong {
        color: var(--red-80);
      }
    }

    &.pmtDue {
      border: 1px solid var(--blue-20);
      cursor: pointer;
      pointer-events: all;
      strong {
        color: var(--blue-70);
        &::before {
          content: "Pay";
          display: inline-block;
          margin-right: g.$space-2;
        }
      }
      &:hover {
        background-color: var(--blue-10);
      }
      @include do-this-above(xl) {
        border-color: var(--gray-00);
        cursor: default;
        margin-right: g.$space-5;
        padding: g.$space-2 g.$space-3;
        pointer-events: none;
        strong {
          color: var(--gray-60);
          &::before {
            display: none;
          }
        }
      }
    }

    &.pmtOverdue {
      border: 1px solid var(--red-40);
      cursor: pointer;
      pointer-events: all;
      strong {
        color: var(--red-80);
        &::before {
          content: "Pay";
          display: inline-block;
          margin-right: g.$space-2;
        }
      }
      &:hover {
        background-color: var(--red-10);
      }
      @include do-this-above(xl) {
        cursor: default;
        margin-right: g.$space-5;
        padding: g.$space-2 g.$space-3;
        pointer-events: none;
        strong::before {
          display: none;
        }
      }
    }

    &.credit {
      strong {
        color: var(--bright-green-80);
        &::before {
          content: "+";
          display: inline-block;
          margin-right: g.$space-2;
        }
      }
    }

    @include do-this-above(lg) {
      padding: g.$space-3 g.$space-4;
    }

    @include do-this-above(xl) {
      border-color: var(--gray-00);
      cursor: default;
      margin-right: g.$space-5;
      padding: g.$space-2 g.$space-3;
      pointer-events: none;
    }
  }

  .button-container {
    display: none;
    button {
      line-height: 14px;
      max-block-size: 30px;
      min-block-size: 30px;
      top: 50%;
      transform: translateY(-50%);
    }
    @include do-this-above(xl) {
      display: inline-block;
    }
  }
}
