@use "../../../styles/typography" as t;
@use "../../../styles/mixins" as *;
@use "../../../styles/global" as g;
@use "sass:map";

$minimum-height: 80px;

.ev-total-balance.cds--actionable-notification {
  display: block;
  max-inline-size: fit-content;
  min-block-size: $minimum-height;
  min-inline-size: 0;
  &.cds--actionable-notification--warning {
    background-color: var(--blue-00);
    border: 4px solid var(--white);
    border-radius: g.$border-radius;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.07);
    .cds--inline-notification__icon {
      display: none;
    }
  }

  .cds--actionable-notification__close-button {
    display: none;
  }
  .cds--actionable-notification__details {
    margin-inline: g.$space-4;

    .cds--actionable-notification__text-wrapper {
      align-content: center;

      .cds--actionable-notification__content {
        column-gap: g.$space-3;
        justify-content: center;
        .cds--actionable-notification__title {
          @extend %font-size-0-semi;
          align-self: center;
          color: var(--gray-60);
          margin-inline-end: 0;
          text-transform: uppercase;
          @include do-this-above(md) {
            font: #{map.get(t.$font-weights, semi)
              map.get(t.$font-sizes, size-1) t.$primary-font-stack};
            margin-inline-end: g.$space-5;
          }
        }
        .cds--actionable-notification__subtitle {
          @extend %font-size-5-bold;
          align-self: center;
          color: var(--gray-80);
          margin-inline-end: 0;
          @include do-this-above(md) {
            font: #{map.get(t.$font-weights, bold)
              map.get(t.$font-sizes, size-6) t.$primary-font-stack};
            margin-inline-end: g.$space-6;
          }
        }
        button {
          inline-size: 100%;
          margin-top: g.$space-3;
          max-inline-size: 100%;
          text-align: center;
          @include do-this-above(md) {
            inline-size: max-content;
            margin-top: 0;
            max-inline-size: 20rem;
          }
        }
        @include do-this-above(md) {
          column-gap: 0;
          justify-content: flex-start;
        }
      }
    }
    @include do-this-above(md) {
      margin-inline: g.$space-4 g.$space-5;
    }
  }
}
