@use "../../styles/typography";
@use "../../styles/global" as g;

.cds--accordion__item {
  border: 1px solid var(--gray-30);
  border-radius: g.$border-radius;

  /// This section refers to the Button element that Carbon generates
  .cds--accordion__heading {
    &:hover,
    &:focus {
      border-radius: g.$border-radius;
    }

    .cds--accordion__title {
      .title-container {
        padding-left: 28px;
        position: relative;

        svg {
          color: var(--purple-70);
          height: 20px;
          left: 0;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 20px;
        }

        p {
          @extend %font-size-1-semi;

          color: var(--gray-70);
        }
      }
    }
  }

  /// Carbon applies "cds--accordion__item--active" to indicate that the accordion is open.
  /// The classes below determine what should happen stylistically when it is open.

  &.cds--accordion__item--active {
    .cds--accordion__heading:hover {
      border-radius: g.$border-radius g.$border-radius 0 0;
    }
    .cds--accordion__heading:focus {
      border-radius: g.$border-radius g.$border-radius 0 0;
    }
    .cds--accordion__wrapper {
      max-block-size: none !important;
    }
  }
}
